/* Start Global Rules */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html {
  scroll-behavior: smooth;
}


h1 {
  font-family: 'Great Vibes', cursive;
  font-size: 40px;
  font-weight: 600;
}

h3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 36px;
  font-weight: 400;
}

/* p {
  font-size: 20px;
} */




/* End Global Rules */

/* ##################################################################################### */
/* ##################################################################################### */

/* yassmen sections */
/* Start header css */

.social-media-icons:before {
  content: "";
  position: absolute;
  top: 0;
  left: 10px;
  min-height: fit-content;
  border: 220px solid black;
  border-color: orange transparent transparent transparent;
  z-index: 9;
}

.inside_arrow {
  font-family: 'Great Vibes', cursive;
  position: absolute;
  font-size: 50px;
  color: white;
  font-weight: 700;
  left: 133px;
  z-index: 10;
  top: -5px;
}


.inside_arrow span,
i {
  padding: 10px;
  padding-top: 15px;
}


.before {
  background-color: white;
  color: #e7a331;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
  width: 100%;
}


.social-media-icons a {

  text-decoration: none;
  color: #e7a331;
}
.social-media-icons  {
letter-spacing: -10px;
  text-decoration: none;
  color: #e7a331;
}

.social-media {
  display: flex;
  background-color: white;
  justify-content: flex-end;
  margin-left: 70px;
  font-size: 1.2em;
  width: 650px;
}

.social-media a {
  text-decoration: none;
  margin: 0 15px;
  color: black;
}

.social-media a i {
  color: #e7a331;
}

.banner .contanier {
  background: url(./images/header/New-Header-Bg.png) no-repeat;
  background-color: #000;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
}


.before a {
  font-size: 1em;
}

.navbar {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  min-height: 100px;
  justify-content: flex-end;
  background-color: black;
  padding-right: 50px;
  /* display: none; */
}

.navbar-active {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100px;
  justify-content: flex-end;
  background-color: black;
  padding-right: 50px;
  display: block;
  transition: .5s;
}



.navbar ul li {
  list-style: none;
  display: inline-flex;
  flex-wrap: wrap;
  margin: 0 10px;
  font-size: 25px;
  color: white;

}

.navbar-active ul li {
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 10px;
  font-size: 25px;
  color: white;
  transition: .5s;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
  text-align: center;
  padding: 10px;

}

.navbar-active ul {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar-active ul li a {
  text-decoration: none;
  color: white;
  text-align: center;
  padding: 10px;
  width: fit-content;
}

.navbar ul li :hover {
  background-color: #f1f1f1;
  color: black;
  border-radius: 40px;
  transition: .5s;

}

.navbar-active ul li :hover {
  display: flex;
  justify-content: center;
  background-color: #f1f1f1;
  color: black;
  border-radius: 40px;
  width: 200px;
  transition: .5s;
}


.Table-Booking {
  border: 1px solid #f1f1f1;
  border-radius: 5px;
  color: #e7a331;
  padding: 20px;
}

.navbar ul li .Table-Booking:hover {
  color: black;
  padding: 20px;
  border-radius: 40px;
}


section {
  padding: 100px 100px;
  display: flex;
  align-content: center;
  justify-content: center;
  width: fit-content;
  min-height: 83vh;
}

.content3 h1 {
  display: flex;

  color: white;
  font-size: 6em;
  align-content: center;
  text-align: center;
  justify-content: center;


}

.content3 p {

  font-size: 2.2em;
  font-weight: 200;
  letter-spacing: 1px;
  color: #f1f1f1;
  text-align: center;
  padding-top: 20px;
  font: bold;
}

.content3 {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.cont {
  width: 100%;
}

.content-btn {
  display: flex;
  justify-content: center;
  width: fit-content;
  color: #f1f1f1;
  padding: 10px 25px;
  margin: 16px;
  background-color: transparent;
  border: 3px solid white;
  border-color: #f1f1f1;
  border-radius: 7px;

}

.content-btn a {
  font-size: 1.5em;
  text-decoration: none;
  color: white;
  font: bold;
}

/* End header css */

/* ##################################################################################### */
/* ##################################################################################### */

/* Abdelrahman section  */

/* Start Section one */
.section1 {
  background-image: url(./images/about-us/about\ us\ bg.png);
  display: flex;
  padding: 70px 0;
  height: 82vh;
  background-size: cover;
  justify-content: center;
  position: relative;
}

.section1 .contanier {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  height: 100%;
  justify-content: center;
  width: 100%;
}

/* Start About Us */

.section1 .contanier .about_us {
  width: 700px;
  padding: 10px;
  margin-left: 20px;
  margin-bottom: 70px;
}


.section1 .contanier .about_us h3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 500;
}

.section1 .contanier .about_us div {
  padding: 7px;
}

.section1 .contanier .about_us .button {
  margin-top: 20px;
}

.section1 .contanier .about_us .button button {
  padding: 10px;
  width: 123px;
  background-color: orange;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* End About Us */


/* Start photos1 */

.section1 .contanier .Photos1 {
  display: flex;
  max-width: 450px;
  justify-content: center;
}

.section1 .contanier .Photos1 img {
  width: 100%;
}

/* End photos1 */

/* Start photos2 */


.section1 .Photos2 {
  position: absolute;
  bottom: 0;
  right: 0;
}


/* End photos2 */

/* End Section one */

/* Start Section 2 */
.section2 {
  position: relative;
  display: flex;
  padding: 70px 0;
  height: 100%;
  background-image: url(./images/special-recipes/special\ recipes\ bg.png);
  background-color: black;
  background-size: cover;
}

.section2 .contanier {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  height: 100%;
  justify-content: center;
  padding: 90px 0;
}

/* Start special recipes */
.section2 .contanier .Special_recipes {
  position: relative;
  background-color: white;
  padding: 20px 30px;
  width: 520px;

}



.section2 .contanier .Special_recipes::after {
  content: "";
  height: 100%;
  width: 50px;
  background-color: white;
  position: absolute;
  right: -43px;
  top: 0;
}

.section2 .contanier .special-recipes div {
  padding: 10px;
  padding-left: 25px;
}

.section2 .contanier .special-recipes .paragraph {
  font-size: 15px;
  font-weight: 500;
  padding: 0 10px;
}

.section2 .contanier .special-recipes .heading {
  font-size: 15px;
  font-weight: 500;
  padding: 20px 10px;
}

.section2 .contanier .special-recipes .button {
  padding: 10px;
  padding-left: 0;
  margin-top: 10px;

}

.section2 .contanier .Special_recipes .button button {
  padding: 14px;
  width: 135px;
  background-color: orange;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


/* End special recipes */

/* Start photos3 */

.photos3 img:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}


.Photos3 img {
  width: 600px;
  height: 530px;
}


/* End photos3 */

/* Start photos4 */
.Photos4 {

  position: absolute;
  bottom: -200px;
  left: 0;
}

/* End photos4 */

/* End Section 2 */


/* ##################################################################################### */
/* ##################################################################################### */



/* nouran sections */
.parent {
  position: relative;
  display: grid;
  grid-template-areas:
    "heading heading heading heading "
    "img1 img2 img3 img4"
    "img5 img6 img7 img8";
  justify-content: center;
  background-image: url('./images/delightful-experience/delighted\ experience\ bg.png');
  height: 100%;
  row-gap: 30px;
  width: 100%;
  padding-bottom: 40px;
}

.parent .heading_pages {
  grid-area: heading;
  text-align: center;
}

.parent .heading_pages h3 {
  text-transform: uppercase;
}


.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #000;
  background-color: #000;
  opacity: 75%;
  color: white;
  padding: 20px 40px;
  display: none;
  text-align: center;
}

.card p {
  font-size: 25px;
  padding: 10px;
}

.card .price {
  font-size: 40px;
}

.parent .img1:hover .card {
  display: block;
}

.parent .img2:hover .card {
  display: block;
}

.parent .img3:hover .card {
  display: block;
}

.parent .img4:hover .card {
  display: block;
}

.parent .img5:hover .card {
  display: block;
}

.parent .img6:hover .card {
  display: block;
}

.parent .img7:hover .card {
  display: block;
}

.parent .img8:hover .card {
  display: block;
}

.parent .img1 {
  grid-area: img1;
  position: relative;
}

.parent .img2 {
  grid-area: img2;
  position: relative;
}

.parent .img3 {
  grid-area: img3;
  position: relative;
}

.parent .img4 {
  grid-area: img4;
  position: relative;
}

.parent .img5 {
  grid-area: img5;
  position: relative;
}

.parent .img6 {
  grid-area: img6;
  position: relative;
}

.parent .img7 {
  grid-area: img7;
  position: relative;
}

.parent .img8 {
  grid-area: img8;
  position: relative;
}

.side-img {
  position: absolute;
  right: 0;
  bottom: -200px;
  z-index: 9;
}



.parent .card .button {
  padding: 5px;
  width: 100px;
  background-color: orange;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.parent .card .button:hover {
  background-color: red;
  transition: .6s;
}

/* ##################################################################################### */
/* ##################################################################################### */
/* ##################################################################################### */

/* not find page */
.page-not-find {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-size: 50px;
  margin-top: 40px;
}


/* menu card */
.menu_icons a {
  position: absolute;
  top: 30px;
  right: 10px;
  color: #eee;
  text-decoration: none;
  font-size: 40px;
  display: flex;
  justify-content: center;
  display: none;
}

/* media  */

@media (max-width: 430px) {
  section {
    width: 100%;
  }

  .contanier {
    width: 100%;
  }

  .section1 .contanier .about_us {
    margin-top: 36px;
    width: 200px;

  }

  .section1 .contanier .Photos1 {
    /* display: none; */
    left: 52px;
  }

  .section1 .contanier .Photos2 img {
    display: none;
  }

  .Photos3 img {
    width: 350px;
    height: 350px;
  }

  .section2 .contanier .Special_recipes {
    width: 350px;
  }

  .section2 .contanier .Special_recipes::after {
    display: none;
  }

  .Photos4 img {
    display: none;
  }

  .menu_icons a {
    display: block;
  }
}

@media (max-width: 280px) {
  section {
    width: 100%;
  }

  .social-media-icons {
    padding: 0;
  }

  .Photos3 img {
    width: 280px;
    height: 280px;
  }

  .section2 .contanier .Special_recipes {
    width: 350px;
  }

  .section2 .contanier .Special_recipes::after {
    display: none;
  }

  .Photos4 img {
    display: none;
  }

  .menu_icons a {
    display: block;
  }
}



@media (min-width:433px) and (max-width: 570px) {
  .navbar a {
    display: none;
  }

  .contanier {
    width: 100%;
  }

  .section1 .contanier .about_us {
    margin-top: 36px;
  }

  .section1 .contanier .Photos1 {
    left: 52px;
  }

  .section1 .contanier .Photos2 img {
    width: 150px;
  }

  .Photos3 img {
    width: 450px;
    height: 450px;
  }

  .section2 .contanier .Special_recipes {
    width: 450px;
  }

  .section2 .contanier .Special_recipes::after {
    display: none;
  }


  .Photos4 img {
    position: relative;
    width: 100px;
    top: -90px;
  }

  .menu_icons a {
    display: block;
  }
}

@media (min-width:573px) and (max-width: 768px) {

  .contanier {
    width: 100%;
  }

  .section1 .contanier .about_us {
    margin-top: 36px;
  }

  .section1 .contanier .Photos1 {
    left: 52px;
  }

  .section1 .contanier .Photos2 img {
    width: 200px;
  }

  .Photos3 img {
    width: 500px;
    height: 500px;
  }

  .section2 .contanier .Special_recipes {
    width: 500px;
  }

  .section2 .contanier .Special_recipes::after {
    display: none;
  }


  .Photos4 img {
    position: relative;
    width: 150px;
    top: -10px;
  }

  .menu_icons a {
    display: block;
  }

}


@media (min-width: 768px) and (max-width:1131px) {


  .contanier {
    width: 750px;
  }

  .section1 .contanier .about_us {
    margin-top: 36px;
  }

  .section1 .contanier .Photos1 {
    left: 52px;
  }

  .section1 .contanier .Photos2 img {
    width: 200px;
  }

  .menu_icons a {
    display: block;
  }

}


@media (max-width:1600px) {
  .navbar {
    justify-content: center;
  }

  .section1 .contanier .Photos2 img {
    width: 200px;
  }

  .section1 {
    height: 100%;
  }

  .social-media-icons::before {
    display: none;
  }
    .inside_arrow{
      display: none;
    }
}

@media screen and (max-width:1180px) {
  .parent {
    /* grid-template-columns: auto auto; */
    grid-template-areas:
      "heading heading"
      "img1 img2"
      "img3 img4"
      "img5 img6"
      "img7 img8";


  }
}

@media screen and (max-width:600px) {
  .parent {
    grid-template-areas:
      "heading"
      "img1"
      "img2"
      "img3"
      "img4"
      "img5"
      "img6"
      "img7"
      "img8";
  }
}

@media (max-width:1150px) {
  .navbar ul {
    display: none;
  }

  .menu_icons {
    display: block;
  }
}