.about-us {
    width: 700px;
    padding: 10px;
    margin-left: 20px;
    margin-bottom: 70px;
}

.about-us h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 500;
}

.about-us div {
    padding: 7px;
}